# 新增全市患者数量作为输入变量
借助各个township的患者数量求和实现

In [1]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

In [2]:
path = 'C:/Users/new/Desktop/疫情演化系统/数据/Patient_Geocoding.csv'
data = pd.read_csv(path)

In [3]:
data.drop(['来源1','来源2'], axis=1, inplace=True)

In [4]:
data.head()

,患者序号,性别,年龄,职业,家庭住址,分型,完整地址,所在区,街道,township,经度,纬度
0,1,女,29,托辅机构工作人员,南开区华苑新城,轻型,天津市南开区华苑街道华苑新城,南开区,华苑路,华苑街道,117.143640,39.075703
1,2,女,10,咸水沽第七小学学生,津南区咸水沽镇,轻型,天津市津南区咸水沽镇咸水沽镇咸水沽镇人民政府,津南区,丰收路,咸水沽镇,117.395242,38.979148
2,3,男,10,咸水沽第七小学学生,津南区北闸口镇,轻型,天津市津南区北闸口镇政安里北闸口镇人民政府,津南区,北营路,北闸口镇,117.406017,38.950556
3,4,男,12,辛庄中学学生,津南区辛庄镇,轻型,天津市津南区辛庄镇龙汇公寓辛庄镇人民政府,津南区,平凡道,辛庄镇,117.350345,39.026690
4,5,男,13,辛庄中学学生,津南区辛庄镇,轻型,天津市津南区辛庄镇龙汇公寓辛庄镇人民政府,津南区,平凡道,辛庄镇,117.350345,39.026690

In [5]:
path = 'C:/Users/new/Desktop/疫情演化系统/数据/train_township.csv'
train = pd.read_csv(path)

In [6]:
train.head()

                日期    镇区  经停病例数  患者数量          经度         纬度
0  2021/12/23 0:00  东马圈镇      0     0  116.844191  39.444862
1  2021/12/24 0:00  东马圈镇      0     0  116.844191  39.444862
2  2021/12/25 0:00  东马圈镇      0     0  116.844191  39.444862
3  2021/12/26 0:00  东马圈镇      0     0  116.844191  39.444862
4  2021/12/27 0:00  东马圈镇      0     0  116.844191  39.444862

In [7]:
for index,row in train.iterrows():
    train.loc[index, '日期'] = datetime.strptime(row['日期'], "%Y/%m/%d %H:%M")

In [8]:
# 生成时间序列
start_timestamp = pd.Timestamp(2021,12,23)
end_timestamp = pd.Timestamp(2022,2,1)
time_series = pd.date_range(start_timestamp,end_timestamp)

In [9]:
time_series

DatetimeIndex(['2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26',
               '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
               '2021-12-31', '2022-01-01', '2022-01-02', '2022-01-03',
               '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07',
               '2022-01-08', '2022-01-09', '2022-01-10', '2022-01-11',
               '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15',
               '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19',
               '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23',
               '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27',
               '2022-01-28', '2022-01-29', '2022-01-30', '2022-01-31',
               '2022-02-01'],
              dtype='datetime64[ns]', freq='D')

In [10]:
time_series[0] == train.loc[0, "日期"]

True

In [11]:
train.loc[0, "日期"]

datetime.datetime(2021, 12, 23, 0, 0)

In [12]:
time_series[0]

Timestamp('2021-12-23 00:00:00', freq='D')

In [13]:
total_num = []

In [14]:
for datetime in time_series:
    rows_index = train[(train['日期'] == datetime)].index.tolist()
    count = 0
    for ind in rows_index:
        count += train.loc[ind, '患者数量']
    total_num.append(count)

In [15]:
total_num

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 27,
 63,
 102,
 142,
 146,
 184,
 209,
 268,
 313,
 334,
 341,
 367,
 367,
 367,
 340,
 304,
 265,
 225,
 226,
 188,
 169,
 119,
 89,
 68,
 83]

In [16]:
train['全市总患者数量'] = 0

In [17]:
i = 0
length = len(total_num)
for index,row in train.iterrows():
    train.loc[index, '全市总患者数量'] = total_num[i]
    i += 1
    i = i % length

In [18]:
train

                       日期    镇区  经停病例数  患者数量          经度         纬度  全市总患者数量
0     2021-12-23 00:00:00  东马圈镇      0     0  116.844191  39.444862        0
1     2021-12-24 00:00:00  东马圈镇      0     0  116.844191  39.444862        0
2     2021-12-25 00:00:00  东马圈镇      0     0  116.844191  39.444862        0
3     2021-12-26 00:00:00  东马圈镇      0     0  116.844191  39.444862        0
4     2021-12-27 00:00:00  东马圈镇      0     0  116.844191  39.444862        0
...                   ...   ...    ...   ...         ...        ...      ...
6227  2022-01-28 00:00:00   北仓镇      0     0  117.117081  39.233295      169
6228  2022-01-29 00:00:00   北仓镇      0     0  117.117081  39.233295      119
6229  2022-01-30 00:00:00   北仓镇      0     0  117.117081  39.233295       89
6230  2022-01-31 00:00:00   北仓镇      0     0  117.117081  39.233295       68
6231  2022-02-01 00:00:00   北仓镇      0     0  117.117081  39.233295       83

[6232 rows x 7 columns]

In [19]:
output_path='C:/Users/new/Desktop/train_addvar.csv'
train.to_csv(output_path,sep=',',index=False,header=False,encoding='utf_8_sig')