In [1]:
import urllib
import pandas as pd

In [2]:
address = "乐其国际影城"
city = "天津"
address = urllib.parse.quote(address)
city = urllib.parse.quote(city)

In [3]:
address
city

'%E4%B9%90%E5%85%B6%E5%9B%BD%E9%99%85%E5%BD%B1%E5%9F%8E'

'%E5%A4%A9%E6%B4%A5'

In [4]:
url = "https://restapi.amap.com/v3/geocode/geo?key=947c7f60f731b54bd6474ce18d5d894b&address={}&city={}".format(address,city)
req = urllib.request.Request(url)  # 将url对象转化为request对象
resp = urllib.request.urlopen(req)  # 发送请求，打开url，也可以直接传入url
data = resp.read().decode('utf-8')

In [5]:
data
type(data)

'{"status":"0","info":"ENGINE_RESPONSE_DATA_ERROR","infocode":"30001"}'

str

In [6]:
import json
jso = json.loads(data)

In [7]:
jso

{'status': '0', 'info': 'ENGINE_RESPONSE_DATA_ERROR', 'infocode': '30001'}

In [14]:
print(jso['status'] == '0')

True

In [8]:
jso['geocodes'][0]

KeyError: 'geocodes'

In [ ]:
type(jso)

In [9]:
t = eval(data)

In [11]:
t

{'status': '1',
 'info': 'OK',
 'infocode': '10000',
 'count': '1',
 'geocodes': [{'formatted_address': '天津市南开区南开大学',
   'country': '中国',
   'province': '天津市',
   'citycode': '022',
   'city': '天津市',
   'district': '南开区',
   'township': [],
   'neighborhood': {'name': [], 'type': []},
   'building': {'name': [], 'type': []},
   'adcode': '120104',
   'street': [],
   'number': [],
   'location': '117.169990,39.103958',
   'level': '兴趣点'}]}

In [12]:
t['geocodes'][0]['location']

'117.169990,39.103958'

In [13]:
type(t)

dict

In [14]:
eval('114,112')

(114, 112)

In [15]:
regeo_url = 'https://restapi.amap.com/v3/geocode/regeo?location={}&key=947c7f60f731b54bd6474ce18d5d894b&extensions=base'.format(t['geocodes'][0]['location'])
req = urllib.request.Request(regeo_url)  # 将url对象转化为request对象
resp = urllib.request.urlopen(req)  # 发送请求，打开url，也可以直接传入url
data = resp.read().decode('utf-8')

In [16]:
data = eval(data)
data

{'status': '1',
 'regeocode': {'addressComponent': {'city': [],
   'province': '天津市',
   'adcode': '120104',
   'district': '南开区',
   'towncode': '120104006000',
   'streetNumber': {'number': '18号',
    'location': '117.171147,39.103955',
    'direction': '东',
    'distance': '99.8351',
    'street': '复康路'},
   'country': '中国',
   'township': '学府街道',
   'businessAreas': [{'location': '117.195938,39.101170',
     'name': '马场道',
     'id': '120103'}],
   'building': {'name': [], 'type': []},
   'neighborhood': {'name': '南开大学', 'type': '科教文化服务;学校;高等院校'},
   'citycode': '022'},
  'formatted_address': '天津市南开区学府街道南开大学南开大学八里台校区'},
 'info': 'OK',
 'infocode': '10000'}

In [17]:
district = data['regeocode']['addressComponent']['district']
district

'南开区'

In [18]:
street = data['regeocode']['addressComponent']['streetNumber']['street']
street

'复康路'

In [19]:
township = data['regeocode']['addressComponent']['township']
township

'学府街道'

In [20]:
formatted_address = data['regeocode']['formatted_address']
formatted_address

'天津市南开区学府街道南开大学南开大学八里台校区'

In [28]:
t = pd.DataFrame([[1,2],[2,3]])

In [29]:
t

   0  1
0  1  2
1  2  3